<nav style="position: fixed; width: 100%;">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown" style="background-color: transparent;">
    <ul class="navbar-nav">
      <li class="fork" >
        <a class="nav-link" href="https://everettsussman.github.io/Math/">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="fork">
        <a class="nav-link" href="https://everettsussman.github.io/CS109FinalProject/EDA/">EDA</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://everettsussman.github.io/CS109FinalProject/modelSelection/">Model Selection</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://everettsussman.github.io/CS109FinalProject/playlistGeneration/">Playlist Generation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://everettsussman.github.io/CS109FinalProject/summary/">Summary</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://everettsussman.github.io/CS109FinalProject/workCited/">Work Cited</a>
      </li>
    </ul>
  </div>
</nav>
